<article class="article content-right" id="article" ng-cloak ng-controller="articleCtrl">
    <h3><span ng-bind-html="article.title|to_trusted"><%= article.title %></span><small>&nbsp;&nbsp;&nbsp;&nbsp;更新于:&nbsp;&nbsp;<span ng-bind="article.updateTime"><%= article.updateTime %></span></small></h3>
    <h6>主题:&nbsp;&nbsp;<span ng-bind-html="article.topic|to_trusted"><%= article.topic %></span></h6>
    <h6>摘要:&nbsp;&nbsp;<span ng-bind-html="article.abstract|to_trusted"><%= article.abstract %></span></h6>
    <div class="blog-content" ng-bind-html="article.content|to_trusted"><%= article.content %></div>
</article>