<link href="/css/aside.list.css" rel="stylesheet">
<aside class="aside aside-list">
    <div class="aside-menu">
        <div class="title-search">
            <input class="form-control" type="text" placeholder="搜索标题" />
        </div>
        <div class="list-group title-list">
            <a class="list-group-item title-item" href="#article">关于博客</a>
            <a class="list-group-item title-item" href="#article">关于博客</a>
            <a class="list-group-item title-item" href="#article">关于博客</a>
            <a class="list-group-item title-item selected" href="#article">关于博客</a>
            <a class="list-group-item title-item" href="#article">关于博客</a>
            <a class="list-group-item title-item" href="#article">关于博客</a>
            <a class="list-group-item title-item" href="#article">关于博客</a>
            <a class="list-group-item title-item" href="#article">关于博客</a>
            <a class="list-group-item title-item" href="#article">关于博客</a>
            <a class="list-group-item title-item" href="#article">关于博客</a>
            <a class="list-group-item title-item" href="#article">关于博客</a>
        </div>
    </div>
    <div class="fixed-nav aside-fixed-nav">
        <a class="btn menu-btn" href="javascript: void(0)"><i class="iconfont icon-liebiao"></i></a>
    </div>
    <div class="aside-layer"></div>
</aside>


