<link href="/css/detail.articles.css" rel="stylesheet">
<article class="article" id="article">
    <h3>Hi, everybody!<small>&nbsp;&nbsp;&nbsp;&nbsp;更新于:&nbsp;&nbsp;08-01-2016</small></h3>
    <h6>主题:&nbsp;&nbsp;杂七杂八</h6>
    <h6>摘要:&nbsp;&nbsp;简单介绍下个人主页</h6>
    <div class="blog-content">
        <p><strong>C4Nstudio.com</strong>是笔者C4N独立开发的个人主页及博客，使用包括
            <a href="https://facebook.github.io/react/">React</a>、
            <a href="https://nodejs.org/en/">Node.js</a>、<a href="http://foundation.zurb.com/">Foundation</a>和
            <a href="https://webpack.github.io/">Webpack</a>
            等前后端框架、类库和工具，希望不仅能在搭建网站的过程中学以致用，掌握最新前后端知识，还能在推送的博文中向读者介绍个人了解到的技术信息，共同分享，不断进步。博客包括以下几个主要板块：等前后端框架、类库和工具，希望不仅能在搭建网站的过程中学以致用，掌握最新前后端知识，还能在推送的博文中向读者介绍个人了解到的技术信息，共同分享，不断进步。博客包括以下几个主要板块：等前后端框架、类库和工具，希望不仅能在搭建网站的过程中学以致用，掌握最新前后端知识，还能在推送的博文中向读者介绍个人了解到的技术信息，共同分享，不断进步。博客包括以下几个主要板块：等前后端框架、类库和工具，希望不仅能在搭建网站的过程中学以致用，掌握最新前后端知识，还能在推送的博文中向读者介绍个人了解到的技术信息，共同分享，不断进步。博客包括以下几个主要板块：等前后端框架、类库和工具，希望不仅能在搭建网站的过程中学以致用，掌握最新前后端知识，还能在推送的博文中向读者介绍个人了解到的技术信息，共同分享，不断进步。博客包括以下几个主要板块：等前后端框架、类库和工具，希望不仅能在搭建网站的过程中学以致用，掌握最新前后端知识，还能在推送的博文中向读者介绍个人了解到的技术信息，共同分享，不断进步。博客包括以下几个主要板块：等前后端框架、类库和工具，希望不仅能在搭建网站的过程中学以致用，掌握最新前后端知识，还能在推送的博文中向读者介绍个人了解到的技术信息，共同分享，不断进步。博客包括以下几个主要板块：
        </p>
        <p>Hope you enjoy.</p>
    </div>
</article>