<article class="article" id="article" ng-cloak ng-controller="articleCtrl">
    <h3><span ng-bind="article.title"><%= article.title %></span><small>&nbsp;&nbsp;&nbsp;&nbsp;更新于:&nbsp;&nbsp;<span ng-bind="article.updateTime"><%= article.updateTime %></span></small></h3>
    <h6>主题:&nbsp;&nbsp;<span ng-bind="article.topic"><%= article.topic %></span></h6>
    <h6>摘要:&nbsp;&nbsp;<span ng-bind="article.abstract"><%= article.abstract %></span></h6>
    <div class="blog-content" ng-bind="article.content"><%= article.content %></div>
</article>