<nav class="navbar navbar-default navbar-home" role="navigation">
   <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" 
         data-target="#navbar-collapse">
         <span class="sr-only">切换导航</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home">Jungle<sup>W</sup></a>
   </div>
   <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
         <li class="<%= navbar.home.class %>"><a href="<%= navbar.home.url %>"><%= navbar.home.label %></a></li>
         <li class="<%= navbar.blog.class %>"><a href="<%= navbar.blog.url %>"><%= navbar.blog.label %></a></li>
         <li class="<%= navbar.essay.class %>"><a href="<%= navbar.essay.url %>"><%= navbar.essay.label %></a></li>
         <li class="<%= navbar.about.class %>"><a href="<%= navbar.about.url %>"><%= navbar.about.label %></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right hidden-m">
         <li><a href="<%= nav_right.facebook.url %>"><%= nav_right.facebook.label %></a></li>
         <li><a href="<%= nav_right.github.url %>"><%= nav_right.github.label %></a></li>
         <li><a href="<%= nav_right.me.url %>"><%= nav_right.me.label %></a></li>
      </ul>
   </div>
</nav>