.topic-list {
    list-style: none;
    padding-left: 3%;
    margin-top: 25px;
}
.topic-item {    
    width: 100%;
}
.topic-item > .title{    
}
.topic-item > .topic-group {
    padding: 0 25px;
}
.topic-group > a {
    display: inline-block;
    float: left;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #e2dcdc;
	text-decoration: none;
}
.topic-group > a:hover {
    color: #00BCD4;
    border: 1px solid #00BCD4;
}