.topic-list {
    list-style: none;
    padding: 0;
    background-color: cadetblue;
}
.topic-item {    
    float: left;
    width: 10%;
    padding: 10px 1%;
    margin: 0 0 5px 1%;
    background-color: black;
}
.topic-item:nth-of-type(3n) {    
    margin-left: 1%;
}